---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import contributions from '../resources/contributions.json'

type RepositoryInformation = {
  name: string;
  description: string | null;
  html_url: string;
  homepage: string | null;
  owner: {
    login: string;
    avatar_url: string;
  },
  stargazers_count: number;
  language: string;
}

const repositories = new Map(
  contributions.map(([key, value]) => {
    return [key, value];
  })
) as Map<string, RepositoryInformation>;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="mb-12 max-w-3xl mx-auto px-4">
      <h1 class="text-3xl font-bold mb-8 mt-8 px-4 py-2 bg-blue-600 w-fit" transition:animate="slide">
        Projects
      </h1>
      <p class="text-lg mb-8 text-justify">
        Check out my projects below.</p>
<center>
<div class="centered-link">
        <a href="https://github.com/MattTheTekie?tab=repositories">View my GitHub repositories here.</a>
    </div></center>
				<div style="display: flex; flex-wrap: wrap; justify-content: center;">
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/tdkhome.png" alt="VELTRON NETWORK" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/tdkpaint.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://hackerlab.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/homelab.png" alt="HACKER LAB" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/streetpass.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/lemmy.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/chat.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/gitea.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://www.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/video.png" alt="PLACEHOLDER" width="176" height="176"></a>
        <a href="https://play.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/mc.png" alt="VELTRON-MC" width="176" height="176"></a>
				<a href="https://status.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/stats.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://status.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/stats.png" alt="PLACEHOLDER" width="176" height="176"></a>
				<a href="https://status.veltron.net"> <img class="portal-image" src="https://www.veltron.net/images/extra/stats.png" alt="PLACEHOLDER" width="176" height="176"></a>
				</center>
            </div>
      </ul>
    </main>
  </body>
  <Footer/>
</html>
