---
import {
  FaGithub,
  FaLinkedinIn,
  FaEnvelope,
  FaMastodon
} from 'react-icons/fa';

import {
  SiLemmy,
  SiOdysee,
  SiDiscord
} from 'react-icons/si';

const icons = [ FaGithub, FaLinkedinIn, FaMastodon, SiOdysee, SiLemmy, SiDiscord ];
import {
  SOCIAL,
} from '../consts';
---
<ul class="sm:flex-col flex-row flex-wrap sm:flex-nowrap px-4 sm:px-0 mb-4 sm:mb-0 justify-center sm:justify-normal">
  {SOCIAL.map(item => (
    <li
      class="flex items-center space-x-2 space-y-2 mr-2 sm:mr-0"
      transition:animate="slide"
    >
      <span>~</span>
      <span class:list={["p-1 rounded-md", {
        "bg-blue-800": item.name.toLowerCase().includes('email'),
        "bg-gray-700": item.name.toLowerCase().includes('github'),
        "bg-blue-801": item.name.toLowerCase().includes('mastodon'),
        "bg-grey-800": item.name.toLowerCase().includes('lemmy'),
        "bg-blue-600": item.name.toLowerCase().includes('linkedin'),
        "bg-orange-800": item.name.toLowerCase().includes('odysee'),
        "bg-blue-500": item.name.toLowerCase().includes('discord'),
      }]}>
        {item.name.toLowerCase() === 'email'
          ? <FaEnvelope size={18} />
          : icons.map((Icon) => (
            Icon.name.toLowerCase().includes(item.name.toLowerCase())) ? <Icon size={18} /> : null
        )}
      </span>
      <a
        href={item.link}
        class="flex items-center space-x-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>{item.name}</span>
      </a>
    </li>
  ))}
</ul>
